.carousel {
    display: flex;
    justify-content: center;
}

.carousel .slide {
    height: 40vw;
}

.carousel .slide img {
    max-height: 100%;
    width: auto;
    border: 5px solid #ddd;
    border-radius: 4px;
}

.image-bg {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

@media only screen and (min-width: 720px) {
    .carousel .slide {
        height: 25vw;
    }
}